@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  background: #f1f1f1;
  font-family: "Roboto";
}

.container{
  width: 900px;
  overflow: auto;
  background: white;
  padding: 20px;
  margin: 30px;
  border-radius: 5px;
  
  h1{
    font-weight: 300;
  }
  button{
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background: #ff5544;
    line-height: 40px;
    box-shadow: 0 2px 10px 0px rgba(0,0,0,0.3);
    transition: all 0.3s;
    margin-right: 20px;
    }
}

.tablecol{
    width: 200px;
    text-align: left;
    font-size: 16px;
    height: 32px;
}
.buttondim{
    height: 30px;
    width: 60px;
    border: none;
    font-size: 12px;
    text-align: center;
    background: #fff;

}   

.editicon{
   heidth: 20px;
   width: 20px;
   }  
